.heading{
    font-size: 23px;
    width: 100%;
    margin: 0;
}

.note{
    font-size: 15px;
    color:black;
}

body{
background-size: cover;
}


.Play_button
{
    width: 130px;
    font-size: 23px;
}

canvas{
 border-radius: 20px;
 border: 5px solid white;
}